.map-container {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    aspect-ratio: 1740 / 956;
}

.map-frame {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.map-container > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
